
name: Python application
 
on:
  pull_request:
    branches: [ "Prod" ]
 
jobs:
  build:
    runs-on: ubuntu-latest
 
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
 
    - name: Deploy AWS
      run: |
            echo "Conectando no EC2"
            echo "${{secrets.AWS_KEY}}" > private_key && chmod 600 private_key
            ssh -o StrictHostKeyChecking=no -i private_key ubuntu@ec2-44-219-251-229.compute-1.amazonaws.com "
            cd hestia_rpa-sync/;git pull"
